.user-A{
  border:2px solid orangered;
  background-color: rgba(255, 103, 2, 0.52);
  margin-bottom: 5px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.user-state {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  margin-top:-19px;
  margin-right:12px;
  right:2px;

  position: absolute;
}
.user-active{
  background-image: radial-gradient(rgba(0, 128, 0, 0.596), rgba(0, 128, 0, 0.671), white);
}
.user-disable{
  background-image: radial-gradient(rgba(255, 1, 1, 0.664), rgba(248, 0, 0, 0.5), white);
}
.activeUser{
  border:3px solid rgba(153, 149, 149, 0.541)
}

td{
  padding:0px;
  margin:0px;
}
